<ion-view view-title="Enter your code">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" ng-model="form.code" placeholder="Code">
      </label>
      <button class="button button-block button-positive" ng-click="submit()">
        Submit
      </button>
      <a class="button button-balanced button-block" href="https://api.envato.com/authorization?response_type=code&client_id=pwa-stjqvrlj&redirect_uri=https://nameless-bastion-35871.herokuapp.com/envato/connect" target="_blank" rel="noopener">Get Code</a>
      <button class="button button-block" ng-click="close()">
        Close
      </button>
    </div>
  </ion-content>
</ion-view>