<ion-view view-title="Statement">
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-refresh" ng-click="refresh()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="statement in statements" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>{{statement.detail}}</h2>
        <p>{{statement.date}}</p>
        <p>{{statement.type}} - ${{statement.price}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
