<ion-view view-title="Dashboard">
  <ion-nav-buttons side="left">
    <button class="button icon ion-edit" ng-click="openCodePage()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-refresh" ng-click="refresh()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card" ng-if="account">

      <div class="item item-avatar">
        <img src="{{ account.image }}">
        <h2>{{ account.firstname }} {{ account.surname }}</h2>
        <p>${{ account.balance }}</p>
      </div>

      <div class="item item-body">
        Good luck with sales!
      </div>

    </div>
  </ion-content>
</ion-view>
